body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* styling cart wrapper */
.cart-wrapper{
  display: flex;
  flex-wrap: wrap;
}

/* styling cart items and blocks*/
.cart-item {
  display: inline-flex;
  margin: 20px 2%;
  min-width: 42%;
}

@media screen and (max-width : 500px){
  .cart-item {
    display: inline-block;
  } 

}
.cart-item .right-block {
  padding: 0 2vw;
}
.cart-item-actions {
  margin-top: 4%;
}
.action-icons {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.action-icons:hover {
  cursor: pointer;
}

